*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    background-color: brown;
    color: white;
    text-align: center;
    padding: 40px;
}
img{
    max-width: 100%;
    height: auto;
}
.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}
.box{
    background-color: lightskyblue;
    color: black;
    padding: 40px;
    margin: 10px;
    flex: 1 1 30%;
    text-align: center;
    min-width: 200px;
}

@media(min-width:768px) {
    .box{
        flex: 1 1 30%;
    }
}

@media (max-width:768px) {
    .box{
        flex: 1 1 45%;
    }
}
@media (max-width:480px) {
    .box{
        flex:1 1 100% 
    }
}